We first import all libraries that we will need during the project

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

We can see how our dataframe looks like looking at the first 5 records of data

In [5]:
df = pd.read_csv("credit_customers.csv")
pd.options.display.max_columns = None
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

We can also check the type of each column

In [7]:
df.dtypes

checking_status            object
duration                  float64
credit_history             object
purpose                    object
credit_amount             float64
savings_status             object
employment                 object
installment_commitment    float64
personal_status            object
other_parties              object
residence_since           float64
property_magnitude         object
age                       float64
other_payment_plans        object
housing                    object
existing_credits          float64
job                        object
num_dependents            float64
own_telephone              object
foreign_worker             object
class                      object
dtype: object

We can see our dataset has 21 columns: 20 features of the customers and then the label column called "class". The features we can find in this dataset are:

- **checking_status**: status of existing checking account.
- **duration**: duration in months of the requested credit.
- **credit_history**: feature related to credits taken by the customer and the status of those credits.
- **purpose**: the purpose of the credit.
- **credit_amount**: amount of money requested.
- **savings_status**: status of savings account.
- **employment**: the time the customer has been working in their current employment, in years.
- **installment_commitment**: installment rate in percentage of disposable income.
- **personal_status**: sex data about the customer (male or female) and marital status.
- **other parties**: other debtors or guarantors.
- **residence_since**: the time the customer has been living in their current residence, in years.
- **property_magnitude**:
- **age**: the customer's age.
- **other_payment_plans**:
- **housing**: whether they live in an owned or a rented house.
- **existing_credits**: how many other credits the customer has in this same bank.
- **job**: 
- **num_dependents**: number of people being liable to provide maintenance for.
- **own_telephone**: whether the customer owns a telephone or not.
- **foreign_worker**: whether the customer is a foreign worker or not.

Let's see what are the different unique values each column has

In [13]:
df.value_counts()

checking_status  duration  credit_history  purpose              credit_amount  savings_status    employment  installment_commitment  personal_status     other_parties  residence_since  property_magnitude  age   other_payment_plans  housing   existing_credits  job                        num_dependents  own_telephone  foreign_worker  class
0<=X<200         6.0       all paid        education            433.0          >=1000            <1          4.0                     female div/dep/mar  none           2.0              life insurance      24.0  bank                 rent      1.0               skilled                    2.0             none           yes             bad      1
no checking      10.0      existing paid   new car              1364.0         <100              1<=X<4      2.0                     female div/dep/mar  none           4.0              car                 64.0  none                 own       1.0               skilled                    1.0             yes            yes             good     1
                 9.0       existing paid   furniture/equipment  2301.0         100<=X<500        <1          2.0                     female div/dep/mar  none           4.0              life insurance      22.0  none                 rent      1.0               skilled                    1.0             none           yes             good     1
                                           new car              2507.0         500<=X<1000       >=7         2.0                     male single         none           4.0              no known property   51.0  none                 for free  1.0               unskilled resident         1.0             none           yes             good     1
                                                                3577.0         100<=X<500        1<=X<4      1.0                     male single         guarantor      2.0              real estate         26.0  none                 rent      1.0               skilled                    2.0             none           no              good     1
                                                                                                                                                                                                                                                                                                                                                      ..
<0               12.0      existing paid   furniture/equipment  7865.0         <100              >=7         4.0                     male single         none           4.0              no known property   53.0  none                 for free  1.0               high qualif/self emp/mgmt  1.0             yes            yes             bad      1
                                           new car              759.0          <100              4<=X<7      4.0                     male single         none           2.0              real estate         26.0  none                 own       1.0               skilled                    1.0             none           yes             bad      1
                                                                900.0          no known savings  1<=X<4      4.0                     male mar/wid        none           2.0              car                 23.0  none                 own       1.0               skilled                    1.0             none           yes             bad      1
                                                                1168.0         <100              1<=X<4      4.0                     male mar/wid        none           3.0              real estate         27.0  none                 own       1.0               unskilled resident         1.0             none           yes             good     1
no checking      60.0      existing paid   radio/tv             10144.0        100<=X<500        4<=X<7      2.0                     female div/dep/mar  none           4.0              real estate         21.0  none                 own       1.0               skilled                    1.0             yes            yes             good     1
Length: 1000, dtype: int64

We check if there is any null value across the dataframe

In [7]:
df.isnull().any()

checking_status           False
duration                  False
credit_history            False
purpose                   False
credit_amount             False
savings_status            False
employment                False
installment_commitment    False
personal_status           False
other_parties             False
residence_since           False
property_magnitude        False
age                       False
other_payment_plans       False
housing                   False
existing_credits          False
job                       False
num_dependents            False
own_telephone             False
foreign_worker            False
class                     False
dtype: bool

In [8]:
df.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000